@import url("file:///home/diller/.cache/wal/colors-waybar.css");

* {
  font-size: 14px;
  border-radius: 5px;
}

window#waybar {
  font-family: FontAwesome, monospace;
  background-color: @background;
  color: @foreground;
  border-bottom: 0px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

.modules-left,
.modules-center,
.modules-right {
  margin: 10px;
}

/* ===== WORKSPACES ===== */
#workspaces {
  background-color: @color0;
}

#workspaces button {
  padding: 0 8px;
  background-color: transparent;
  color: @color7;
  border-radius: 0;
}

#workspaces button:first-child {
  border-radius: 5px 0 0 5px;
}

#workspaces button:last-child {
  border-radius: 0 5px 5px 0;
}

#workspaces button:hover {
  color: @color6;
}

#workspaces button.focused {
  background-color: @color4;
  color: @background;
}

#workspaces button.urgent {
  background-color: @color1;
  color: @foreground;
}

#mode,
#window,
#clock,
#battery,
#backlight,
#wireplumber,
#tray,
#mpris,
#load,
#memory,
#temperature {
  padding: 0 10px;
  background-color: @color0;
  color: @foreground;
}

#submap {
  padding: 0 10px;
  background-color: @color4;
  color: @background;
  font-weight: bold;
}

#memory {
  background-color: @color4;
  color: @background;
  font-weight: bold;
}

#load {
  background-color: @color6;
  color: @background;
  font-weight: bold;
}

#temperature {
  background-color: @color5;
  color: @foreground;
  font-weight: bold;
}

#mode {
  background-color: @color4;
  color: @background;
  font-weight: bold;
}

#mode:hover {
  background-color: @color6;
  color: @background;
}

#cava {
  margin: 10px 0 0 0;
}

#battery.charging,
#battery.plugged {
  background-color: @color4;
  color: @background;
}

@keyframes blink {
  to {
    background-color: @color0;
    color: @foreground;
  }
}

#battery.critical:not(.charging) {
  background-color: @color1;
  color: @foreground;
  animation: blink 0.5s steps(12) infinite alternate;
}

#wireplumber.muted {
  background-color: @color5;
}

#mpris.playing {
  background-color: @color6;
  color: @background;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}
